* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --big-color: #87786c;
    --main-color: #a6bbcc;
    --text-color: #fff;

    --h1-font: 5.6rem;
    --h2-font: 3.7rem;
    --p-font: 1rem;
}

body {
    background: var(--big-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 38px 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
    color: #8d555c;
    font-size: 28px;
    font-weight: 600;
}

.navbar {
    display: flex;
}
.navbar a{
    margin: 0 25px;
    padding: 4px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 400;
    border-bottom: 2px solid transparent;
}
.navbar a:hover{
    border-bottom: 2px solid #8d555c;
    color: #8d555c;
}

#menu-icon {
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* home */
section{
    padding: 40px 19% 30px;
}
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.home-img{
    height: 460px;
    width: 460px;
    object-fit: contain;
}
.home-img img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}
.home-text{
    padding-top: 60px;
}
.home-text h5{
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    margin: 15px 0;
    font-size: var(--h1-font);
    color: var(--main-color);
    line-height: 1.1;
    font-weight: 800;
}

.social{
    margin-bottom: 30px;
}
.social a:first-child{
    font-size: var(--p-font);
    margin-right: 15px;
    color: var(--text-color);
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #242121 ;
    color: var(--main-color);
    border-radius: 50%;
    margin-right: 15px;
}
.social i:hover{
    box-shadow: 0 0 30px var(--main-color);
}

.button a{
    display: inline-block;
    padding: 10px 22px;
    background: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 8px;
}
.button a:hover{
    box-shadow: 0 0 20px var(--main-color);
}
.button a.btn2{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin-left: 20px ;
}
.button i{
    margin-right: 7px;
}


